/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  src: local('Patua One'), local('PatuaOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/patuaone/v4/yAXhog6uK3bd3OwBILv_SLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}


/* Global Reset */
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans',sans serif;
}

html, body { height: 100%; }

#hero #brand {
  color: white;
  font-size: 15em;
  font-family: 'Open Sans',sans serif;
  margin: 0px;
  text-align: left;
  padding-right: 42px;
  flex-shrink: 1;
}

#hero #tagline {
  color: white;
  flex-shrink: 2;
  font-size: 3em;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin: 0px;
  text-align: left;
  max-width: 500px;
  min-width: 300px;
  border-left: 1px dotted white;
  padding-top: 0px;
  padding-left: 15px;
  margin-top: 57px;
  margin-bottom: 30px;
}

#hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #E62545),
    color-stop(1, #DB0058)
    );
    background-image: -o-linear-gradient(right, #E62545 0%, #DB0058 100%);
    background-image: -moz-linear-gradient(right, #E62545 0%, #DB0058 100%);
    background-image: -webkit-linear-gradient(right, #E62545 0%, #DB0058 100%);
    background-image: -ms-linear-gradient(right, #E62545 0%, #DB0058 100%);
    background-image: linear-gradient(to right, #E62545 0%, #DB0058 100%);


    min-height: 300px;
    width: 100%;
  }

  body {
    background-color: #FFF;
    font: 13.34px Helvetica, Arial, sans-serif;
    font-size: small;
    text-align: center;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Patua One', cursive;
    font-weight: 400;
    margin: 1em 0;
  }

  .site h1:after {
    content: " //";
  }

  h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    padding-top: 20px;
  }

  h1 { margin-bottom: 1em; }
  p { margin: 1em 0; }

  a         { color: #00a; }
  a:hover   { color: #000; }
  a:visited { color: #a0a; }

  /*****************************************************************************/
  /*
  /* Home
  /*
  /*****************************************************************************/
  .posts {
    list-style-type: none;
    margin-bottom: 2em;
  }

  .posts li {
    line-height: 1.75em;
  }

  .posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

  /*****************************************************************************/
  /*
  /* Site
  /*
  /*****************************************************************************/

  .site {
    height: auto;
    top: 100px;
    left: 100px;
    font-size: 115%;
    text-align: justify;
    min-width: 42em;
    max-width: 60%;
    margin: 3em auto 2em;
    line-height: 1.5em;
  }

  .header a {
    font-weight: bold;
    text-decoration: none;
  }

  .title {
    display: inline-block;
    margin-bottom: 2em;
  }

  .title a {
    color: #a00;
  }

  .title a:hover {
    color: #000;
  }

  .header a.extra {
    color: #aaa;
    margin-left: 1em;
  }

  .header a.extra:hover {
    color: #000;
  }

  .meta {
    color: #aaa;
  }

  .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

  .footer .contact {
    float: left;
    margin-right: 3em;
  }

  .footer .contact a {
    color: #8085C1;
  }

  .footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
  }

  .footer .rss img {
    border: 0;
  }

  ul {
    padding-left: 40px;
  }

  /*****************************************************************************/
  /*
  /* TOC
  /*
  /*****************************************************************************/

  #toc {
    z-index: 1;
    position: fixed;
    top: 0px;
    width: 100%;
    color: #000;
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(0, #E62545),
      color-stop(1, #DB0058)
      );
      background-image: -o-linear-gradient(right, #E62545 0%, #DB0058 100%);
      background-image: -moz-linear-gradient(right, #E62545 0%, #DB0058 100%);
      background-image: -webkit-linear-gradient(right, #E62545 0%, #DB0058 100%);
      background-image: -ms-linear-gradient(right, #E62545 0%, #DB0058 100%);
      background-image: linear-gradient(to right, #E62545 0%, #DB0058 100%);

    }


    #toc ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline;
    }

    #toc li {
      padding: 5px 10px;
      display: inline;
    }

    #toc a {
      color: #fff;
      text-decoration: none;
      display: inline;
      text-align: left;
    }

    #toc .toc-h1 {
      font-size: 1.3em;
    }

    #toc .toc-h2 {
      padding-left: 10px;
      display: none;
    }

    #toc .toc-h3 {
      padding-left: 20px;
    }

    #toc .toc-active a:after {
      content: " //";
    }

    /* #toc .toc-active { */
    /*     background: #336699; */
    /*     box-shadow: inset -5px 0px 10px -5px #000; */
    /* } */

    /* /\* standard *\/ */
    /* pre { */
    /*   border: 1px solid #ddd; */
    /*   background-color: #eef; */
    /*   padding: 0 .4em; */
    /* } */

    /* ul, .post ol { */
    /*   margin-left: 1.35em; */
    /* } */

    /* code { */
    /*   border: 1px solid #ddd; */
    /*   background-color: #eef; */
    /*   padding: 0 .2em; */
    /* } */

    /* pre code { */
    /*   border: none; */
    /* } */

    /* /\* terminal *\/ */
    /* pre.terminal { */
    /*   border: 1px solid #000; */
    /*   background-color: #333; */
    /*   color: #FFF; */
    /* } */

    /* pre.terminal code { */
    /*   background-color: #333; */
    /* } */
