- var comp = contents['comparison.json'].metadata;
#comparison
  .row
    .span3
    each title in comp.names
      .span3.colname= title
  
  each feature in comp.features
    .row
      .span3.rowname= feature.name
      each val in feature.value
        .span3= val        


