<div class="split">
  <img class="visual" src="http://placehold.it/300x300"/>
  <div class="description">
    <h3>All-in!</h3>
    <p>Build <em>Realtime Apps</em> now! Jet uses fast <em>push technologies</em>
       and differential updates to keep all clients in sync.
       It is very easy to use and features powerful query filters, sorting rules and
       a Web Inspector.
    </p>
    <p>Jet is suitable for <em>IoT Apps</em>
      , <em>Games</em>, <em>Collaborative Apps</em> or anything else where things are in flux and fast
      communication is required.
    </p>
    <p>Due to its efficient design, Jet Servers run very nicely on systems with
      rather limited ressources like the <em>RaspberryPi</em>.
    </p>
  </div>
</div>
