<div class="split">
  <a class="visual" title="By Harry Chase Brearley [Public domain], via Wikimedia Commons" href="http://commons.wikimedia.org/wiki/File%3AWatch_movement.png">
    <img alt="Watch movement" src="images/clock.png"/>
  </a>
  <div class="description">
    <h3>Don't waste time</h3>
    <p>Build <em>Realtime Apps</em> now! Jet is a framework for building distributed realtime
      Apps. It employs fast <em>push technologies</em>
       and differential updates to keep all clients in <em>sync</em>.
       It is very easy to use and features powerful query filters, sorting rules and
       a Web Inspector.
    </p>
    <p>Jet is suitable for <em>IoT</em>
      , <em>Games</em>, <em>Collaborative Apps</em> or anything else where things are in flux and fast
      communication is required.
    Its efficient design allows Jet Servers to run very nicely on systems with
      rather limited ressources like the <em>RaspberryPi</em>.
    </p>
  </div>
</div>
