<div class="split">
  <img class="visual" src="http://placehold.it/300x300"/>
  <div class="description">
    <h3>Take that bus</h3>
    <p>Besides its web-capable realtime characteristics, Jet can be used as
      a <em>system bus</em> for Linux, Windows or OSX.
      Much like the widely used Dbus, Jet allows <em>distribution of system services</em>
      to muliple processes using the same simple Jet API.
    </p>
    <p>If you take the Jet Bus, your services are available for Browsers instantly!</p>
  </div>
</div>
