<div class="split">
  <a class="visual" title="By Andy Dingley (scanner) (Scan from (1911) Mechanical Transport, HMSO) [Public domain], via Wikimedia Commons" href="http://commons.wikimedia.org/wiki/File%3AAlley_%26_McLellan_steam_wagon_(Army_Service_Corps_Training%2C_Mechanical_Transport%2C_1911).jpg">
    <img src="/images/steamw2t.png"/>
  </a>
  <div class="description">
    <h3>More than Realtime</h3>
    <p>Besides its web-capable realtime characteristics, Jet is intended to be
      a <em>system bus</em> for Linux, Windows or OSX.
      Much like the widely used Dbus, Jet allows <em>distribution of system services</em>
      to muliple processes using a simple API.
      All your Jet content is <em>available for Browsers instantly</em>!
    </p>
    <p>
	   As Browsers can host first class Peers, they can even provide content themselfes!
    </p>
    <p>
      Jet allows to <em>wait for content</em> to become available and thus helps in the upstart
      phase of interdependent services and helps decoupling parts of complex systems.
    </p>
  </div>
</div>
