<div class="split">
  <a class="visual" title="See page for author [Public domain], via Wikimedia Commons" href="http://commons.wikimedia.org/wiki/File%3APSM_V46_D167_Outer_surface_of_the_human_brain.jpg">
    <img  src="images/daemon.jpg"/>
  </a>
  <div class="description">
    <h3>Daemon</h3>
    <p>Aka Server. The Daemon is the <em>center of communications</em> as Peers connect to it. When
      Peers communicate with each other, the Daemon handles the message routing.
      All the heavy-lifting like <em>filtering and sorting</em> happens inside the daemon. Most likely the Daemon
      runs on the same machine as your webserver.
    </p>
    <p>
      The Daemon itself does not provide any content at all, but provides means for <em>content
      registration</em>. Technically it maybe described as a publish-subscribe engine with built-in
      <em>content cache</em>.
    </p>
  </div>
</div>
