<div class="split">
  <div class="split">
  <a class="visual" title="See page for author [Public domain or Public domain], via Wikimedia Commons" href="http://commons.wikimedia.org/wiki/File%3ALibraries_in_the_Medieval_and_Renaissance_Periods_Figure_4.jpg">
    <img  src="images/bookst.png"/>
  </a>
  <div class="description">
    <h3>Fetching</h3>
    <p>Aka Query. Fetching is the process of <em>continuously gathering information</em>.
      Peers can <strong>fetch</strong> to obtain content from a Daemon, which in turn is provided by Peers.
      This is much like a database query as you can exactly define what content you want
      based on <em>name (path)</em> and/or <em>values</em> of States and Methods.
      The Jet Daemon can also <em>sort and paginate</em> your data based on State values.
    </p>
    <p>
      The best thing is, that the content gets <em>updated</em> as soon as something relevant
      concerning your fetch rule changes (new content gets added or removed, values changed).
      Imagine a score board, which should display the female top ten players ordered
      by their score. With Jet this is piece of cake!
    </p>
  </div>
</div>
