<footer>
  <nav>
  <p class="copyright">
    &copy;2015 <a href="https://github.com/lipp">Gerhard Preuss</a> under the terms
    of the <a href="https://github.com/lipp/jet/blob/master/LICENSE">MIT License</a>
  </p>
  <div>
    <a href="https://github.com/lipp/jet"><img src="images/github2.svg"/></a>
    <a href="https://twitter.com/gelipp2000"><img src="images/twitter2.svg"/></a>
    <a href="https://plus.google.com/u/0/+GerhardPreuss/"><img src="images/google+.svg"/></a>
  </div>
</nav>
</footer>
