<div class="split">
  <img class="visual" src="http://placehold.it/300x300"/>
  <div class="description">
    <h3>Make your choice</h3>
    <p>Jet is <em>free</em> for all! And of course, everything is <strong>open source</strong>.
      Beside the HTML5 based <em>free client</em> there are <em>free servers</em> available
      for <strong>node.js</strong> and <strong>Lua</strong>.
    </p>
    <p>Jet is meant for <em>Self-hosting</em>.
      Intergration is very easy as Jet servers can run <em>side-by-side</em> with
      your webserver environment or fully integrate with your node.js based solutions if desired.
    </p>
  </div>
</div>
