<div class="split">
  <ul class="visual">
    <li><a title="Jet for Javascript (HTML5)" href="http://github.com/lipp/node-jet"><img src="/images/HTML5_Badge.svg"/></a></li>
    <li><a title="Jet for node.js" href="http://github.com/lipp/node-jet"><img src="images/logo-node.png"/></a></li>
    <li><a title="Jet for Lua" href="http://github.com/lipp/lua-jet"><img src="/images/Lua-logo-nolabel.svg"/></a></li>
  </ul>
  <div class="description">
    <h3>Open and Free</h3>
    <p>Jet is <em>free</em> for all! And of course, everything is <strong>open source</strong>.
	Beside the Javascript implementation for <strong>HTML5</strong> and <strong>Node.js</strong>, there
	libs available for <strong>Lua</strong> and <a href="http://github.com/lipp/Arduino-Jet"><strong>Arduino</strong></a>.
    <p>Jet is meant for <em>Self-hosting</em>.
      Intergration is very easy as Jet servers can run <em>side-by-side</em> with
      your webserver environment or fully integrate with your Node.js based solutions if desired.
      Jet services are <em>fully customizable</em> and allow features like server-side validation,
      live push-data, custom factories or custom services.
    </p>
  </div>
</div>
