<header>
  <nav id="main-nav">
    <ul>
      {% assign sorted_pages = (site.pages | sort: 'order') %}
      {% for node in sorted_pages %}
      {% if node.hidden == null %}
      {% if page.url == node.url %}
      <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
      {% else %}
      <li><a href="{{node.url}}">{{node.title}}</a></li>
      {% endif %}
      {% endif %}
      {% endfor %}
    </ul>
    <div>
      <a class="twitter-share-button" href="https://twitter.com/share"
      data-size="large"
      data-count="none"
      data-text="#Jet is #Realtime for the web"
      data-related="gelipp2000:Jet News">
      Tweet
    </a>
    <iframe id="github-star"  src="https://ghbtns.com/github-btn.html?user=lipp&repo=jet&type=watch&count=true&size=large"
    allowtransparency="true" frameborder="0" scrolling="0" width="130" height="30"></iframe>
  </div>
</nav>
</header>
