<div class="split">
  <a class="visual" title="See page for author [Public domain], via Wikimedia Commons" href="http://commons.wikimedia.org/wiki/File%3ARollstuhl_Farfler_1655.jpg">
    <img src="images/tricyclet.png"/>
  </a>
  <div class="description">
    <h3>Method</h3>
    <p>An action identified by a <em>unique name (path)</em>.
      Methods can have <em>any number and any type of parameters</em>.
      Peers can add Methods to the Jet Bus by registrating them to the Daemon.
      Unlike States, Methods have no associated value.
      Methods are subject to fetching and thus are <em>observable</em> by other Peers.
    </p>
    <p>
      A method may do just anything. It could light an LED, create States
      (e.g. <a href="https://github.com/lipp/node-jet/blob/master/examples/todo-server.js#L29">"todo/add"</a>) or
      perform a system update.
      However, it <strong>should not</strong> behave like classical "getter/setter" as States
      are intended for this purpose.
    </p>
  </div>
</div>
