<div class="split">
  <img class="visual" src="/images/peert3.png"/>
  <div class="description">
    <h3>Peer</h3>
    <p>Aka Client. Peers can <em>provide and/or consume content</em>. They have to connect to a
      Daemon to be part of the Jet bus. To provide content Peers can register States and/or Methods.
      Consuming content means either <em>fetching</em>, <em>calling</em> or
      <em>setting</em> States/Methods.
    </p>
    <p>
      Peers can run on the same machine as the Daemon or on remote machines, possibly within Browsers.
      A common usage scenario is that the Peers running on the same machine as the Daemon
      provide content (as the <a href="https://github.com/lipp/node-jet/blob/master/examples/todo-server.js">Todo-Server</a>)
      and other Peers consume this content from a Browser (as the
      <a href="https://github.com/lipp/jet/blob/master/todo/js/controllers/todoCtrl.js">Todo-Client</a>).
    </p>
  </div>
</div>
