<div class="split">
  <a class="visual" title="See page for author [Public domain], via Wikimedia Commons" href="http://commons.wikimedia.org/wiki/File:Distillation_by_Retort.png#file">
    <img src="images/state.png"/>
  </a>
  <div class="description">
    <h3>State</h3>
	<p>Aka Document. A logical piece of information (value), identified by a <em>unique name (path)</em>.
       A State's value can be of <em>any Javascript type</em>. Peers define if and how the States they provide
       react when someone tries to change its value. The request values maybe adapted, interpolated or refused
       if necessary.
       Peers can add States to the Jet Bus by registrating them to the Daemon.
       States may change its value <em>spontaneously</em> or on behalf of another Peer by calling <strong>set</strong>.
       States are subject to fetching and thus are <em>observable</em> by other Peers.
     </p>
     <p>
       States may represent things like <strong>user records</strong>, <strong>CPU temperature</strong>
       or <strong>network settings</strong>. The Peer adding the State defines the
       behaviour when a <strong>set</strong> request comes in and is free to do anything
       that is appropriate.
     </p>
  </div>
</div>
