#sum .table th, .table td {
    border-top: none;
}

/* sum { */
/*     background-image: url('/images/postit_note_a.png'); */
/*     height: 400px; */
/* } */

header {
    margin-top: 20px;
}

#sum {
/*    background-image: url('/images/noise.png');*/
    position: relative;
/*    font-family: 'PT Mono', sans-serif;*/
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    height: 200px;
    -webkit-transform: rotate(+2deg); 
    -moz-transform: rotate(+2deg);
    margin-top: 0px;
    padding-top: 60px;
}

#subcontent .textdivider {
    font-family: 'Special Elite', cursive;
    font-size: 20px;
}

#sum .row {
    position: relative;
    z-index: 2;
}

#navi.navbar ul.nav li a{
    background-color: transparent;
    box-shadow: none;
}

.tagline {
    font-family: 'Special Elite', cursive;
    font-size: 33px;
/*    text-align: center;*/
    margin-top: 30px;
    -webkit-transform: rotate(-1deg); 
    -moz-transform: rotate(-1deg);
/*    margin-top: 150px;*/
}

.mega {
    font-family: 'Special Elite', cursive;
    margin-top: 130px;
    font-size: 120px;
/*    text-align: center;*/
}


#sum p.jet {
    font-size: 50px;
    -webkit-transform: rotate(+3deg); 
    -moz-transform: rotate(+3deg);
    margin: 12px 10px;
}


#sum p:first-of-type {
    -webkit-transform: rotate(+1deg); 
    -moz-transform: rotate(+1deg);
    
}

#sum img {
    position: absolute;
    left: 0px;
    top: -10px;
    z-index: 1;
}

#examples div {
    /* font-family: 'Ubuntu Mono', sans-serif; */
}

#examples {
    padding-top: 50px;
}

#examples .row {
    margin-top: 15px;
}

.example code, .example p {
    font-family: monospace;
    font-size: 16px;    
}

#examples pre {
    border: none;
    background: none;
}

#examples pre {
    padding: 0px;
    background: none;
}

#examples pre code{
    background: none;
}

body {
/*    font-family: 'Special Elite', cursive;*/
}

#examples p.story {
    margin-top: 17px;
    font-size: 17px;
    font-family: 'Special Elite', cursive;
}

#examples .title {
    font-family: 'Special Elite', cursive;
}

#examples .span3 h4 {
/*    font-family: 'Special Elite', cursive;*/
}

.card-title {
    margin-top: 20px;
}

#highlights p {
    /* font-family: 'Ubuntu Mono', sans-serif; */
    font-size: 17px;
    margin-bottom: 70px;
    height: 50px;
    
}

body {
    background-image: url('../images/textured_paper.png'); 
}

.example {
    position: relative;
    height: 400px;
    -webkit-transform: rotate(0.5deg);
    -moz-transform: rotate(0.5deg);
}

.example img {
    margin-left: 0; 
    position: absolute; 
    top: -10px; 
    left: -30px; 
    z-index: -1;
}

#examplesLinks {
    margin-top: 30px;
}

#examplesLinks p {
    font-size: 20px;    
    font-family: 'Special Elite', cursive;    
}

#examplesLinks p:hover {
    cursor: pointer;
}

#examplesLinks p:hover:after {
    content: " <--";
}

footer {
    padding-top: 50px;
}