<form class="connection connection-status-{{status}}" ng-submit="submit()">
  <fieldset>
    <legend>Daemon</legend>
  <div class="pulldown">
    <input tabindex="1" ng-model="state.url" placeholder="ws://jet.nodejitsu.com:80" type="text" required autofocus>
    <button tabindex="2" type="button" ng-click="state.expanded = !state.expanded" class="pulldown-caret">V</button>
    <div ng-class="{expanded: state.expanded}" class="pulldown-options-wrap">
    <ul class="pulldown-options">
      <li ng-repeat="con in storedConnections | filter:'!'+state.url" ng-click="state.url=con; state.expanded=false; disconnect()">
        <span>{{con}}</span><button tabindex="-1" type="button" ng-click="removeStoredConnection(con)">X</button>
      </li>
    </ul>
  </div>
  </div>
    <button ng-disabled="!nextAction || !isValidWsUrl"
      type="submit"
      tabindex="3"
      class="{{status}}"
      >{{nextAction}}</button>
  </fieldset>
</form>
