<div class="value">
  <div class="path">
    <span >{{state.$path}}</span>
  </div>

  <form ng-if="asJSON" name="jsonForm" ng-submit="saveJSON(); jsonForm.$setPristine()">
    <textarea ng-model="$parent.valueAsJSON">
    </textarea>
    <input ng-disabled="!jsonForm.$dirty" type="submit" value="save">
  </form>

  <form ng-if="!asJSON" name="listForm" ng-submit="state.$save(); listForm.$setPristine()">
    <div class="leave" ng-repeat="(parentPath, subs) in flatTree">
      <!-- <span ng-if="parentPath.length > 1" class="parent-path">{{parentPath.slice(1)}}</span> -->
      <div class="sub-group" ng-repeat="sub in subs">
        <span ng-if="parentPath.length > 1" class="sub-path">{{parentPath.slice(1)}}.{{sub.name}}</span>
        <span ng-if="parentPath.length <= 1 && sub.name != '$value'" class="sub-path">{{sub.name}}</span>
        <input class="sub-input" type="{{sub.inputType}}" ng-model="sub.parent[sub.name]">
      </div>
    </div>
    <button class="set" ng-disabled="!listForm.$dirty" type="submit">set</button>
    <span class="json">JSON<input type="checkbox" ng-model="asJSON" value="JSON"></span>
  </form>
</div>
