<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">

</head>
<body>
  <div id="hero">
    <h1 id="brand">Jet</h1>
    <h2 id="tagline">Lightweight, Realtime Message Bus for the Web</h2>
  </div>
  <div id="toc">
  </div>
  <div class="site">

    {{ content }}

    <div class="footer">
      <div class="contact">
        <p>
          Gerhard Preuss<br />
          gelipp@gmail.com
        </p>
      </div>
      <div class="contact">
        <p>
          <a href="https://github.com/lipp">github.com/lipp</a><br />
        </p>
      </div>
    </div>
  </div>

</body>
<script src="js/jquery-2.0.3.js"></script>
<script src="js/jquery.toc.min.js"></script>
<script>
$('#toc').toc({
  selectors:'h1',container:'.site',highlightOffset:0
});
</script>
</html>
